<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../static/CSS/login.css">

</head>   
    <body>
        <h2 class="c">User Login</h2>
         <form action="/firstvalid" method="post">
    	    <input class="d" type="text" name="uname" placeholder="E-mail"><br><br>
            <input class="d" type="password" name="pass" placeholder="Password"><br><br><br>
            <button class="e">Sign In</button><br><br>
            <span>
            <input class="f" type="checkbox" name="">
            <p class="g">Remember me</p>
            <p class="h">Forgot Password?</p>
        </form>

        //</div>

    </body>
</html>