<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reg.css" />
</head>
<body style="background-image: url(https://img.freepik.com/free-vector/earth-globe-airplane_1308-28892.jpg?w=2000);background-repeat: no-repeat;background-size:cover;">
    <header>
        <div class="hcon">
            <div class="logo"></div>
            <center><div class="name"><h1></h1></div></center>
        </div>
       
    </header>
    <div class="container" style="position: fixed;width: 340px;height: 350px;top: 40%;left: 50%;margin-top: -140px;margin-left: -170px;border: 1px solid;">  
        <center><div class="head"> <h2>Sign Up</h2></div></center>
        
        <div class="br"></div>
        <form action="signup" method="post">
            <div class="in"> Name: <input  type="text" name="name" id="name" placeholder="Enter your name"> 
            </div> <br>
            <div class="in">Email:<input type="text" name="email" id="email" placeholder="Enter your email"> 
            </div> <br>
            <div class="in">Aadhar Number:<input type="text" name="aadhar" id="aadhar" placeholder="Enter your aadar number">
            </div> <br>
            <div class="in">Password:<input type="password" name="password" id="password" placeholder="New Password"></div> <br>
            <!--<div class="in"> Date of birth <input type="date" name="dob" id="dob"></div> <br>-->
            
            <div class="in">
                <div><label for="gender">Gender</label></div>
                <span>
                    <label for="male">male</label>
                        <input class="gender" type="radio" name="male" id="male" >
                </span>
                <span>
                    <label for="female">female</label>
                    <input class="gender" type="radio" name="female" id="female" >
                </span>
            </div><br>
            </div>
            <div class="in" id="st2">By clicking Sign Up, you agree to our Terms, Privacy Policy and Cookies Policy. You may receive SMS notifications from us and can opt out at any time.Sign Up</div>-->
            <div class="in"><button class="btn" type="submit">Sign Up</button></div>
            
            
        </form>
    </div>

</body>
</html>